.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .gallery-item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    width: 60%;
  }

  
  .caption {
    margin-top: 5px;
    font-size: 17px;
    color: #770202;
  }
